@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('/Background.jpg');
  backdrop-filter: blur(9px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
}